<div class="teacher-container">
    <img src="/image/Bae.png">
    <div class="best-teacher-text">
        <p style="color:black;">과학탐구영역 <strong>"물리"</strong></p>
        <h1 style="margin:0;"><span class="teacher-name">배기범</span><span class="aka">물리 1타</span></h1>
        <div class="teacher-card-hide">
            <p>서울대 물리교육과 졸업</p>
            <p>現) 입시컨설팅 YJ Creative 대표</p>
            <p>現) 배기범 과학 학원 원장</p>
            <p>現) 팀 프로메테우스 과학논술 팀장</p>
            <p>現) 메가엠디 PEET 물리추론 전임교수</p>
            <p><strong>대표저서 : 필수본, 일당백, 기범비급</strong></p>
        </div>
    </div>
</div>