<form action="/board" method="POST">
	<div class='writeplace'>
		<div class="board-writeplace-title">Write</div>
		<input type="text" id="title-input" name="title" placeholder="제목을 입력하세요" autocomplete="off">
		<textarea type="text" id="content-input" name="content" placeholder="내용을 입력하세요" autocomplete="off" value=''></textarea>
		<div class="post-submit">
			<input type="submit" class="post-submit-btn" value="Post it">
		</div>
	</div>
</form>	