<!DOCTYPE html>
<html>
    <head>
        <title>Fail to Log in</title>
    </head>
    <body>
				<script>
					alert('You fail to Log in')
					window.location.href = '/'
				</script>
    </body>
</html>